body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#text-container {
  text-align: center;
}

.hidden {
  display: none;
}

#option1, option2{
  border: none;
}



